@model GigKompassen.Web.Models.Profiles.Create.CreateManagementProfileViewModel

<h4>Create Management Profile</h4>
<hr />
<!-- Name -->
<div class="form-group">
  <label asp-for="Name" class="control-label"></label>
  <input asp-for="Name" class="form-control" name="ManagementProfile.Name"/>
  <span asp-validation-for="Name" class="text-danger"></span>
</div>

<!-- Location -->
<div class="form-group">
  <label asp-for="Location" class="control-label"></label>
  <input asp-for="Location" class="form-control" name="ManagementProfile.Location"/>
  <span asp-validation-for="Location" class="text-danger"></span>
</div>

<!-- Description -->
<div class="form-group">
  <label asp-for="Description" class="control-label"></label>
  <textarea asp-for="Description" class="form-control" name="ManagementProfile.Description"></textarea>
  <span asp-validation-for="Description" class="text-danger"></span>
</div>
